<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football League: teams</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        dt {
            display: inline;
            padding: 20px;
        }
    </style>
</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*@thymesVar id="team" type="io.github.norwin94.footballleague.model.Team"*/-->
    <form action="#" method="post" th:action="@{/teams/add}" th:object="${team}">
        <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
        <fieldset>
            <legend>New team</legend>
            <label>Team name
                <input type="text" th:field="*{teamName}"/>
            </label>
            <label>Founded
                <input type="date"
                       min="1875-01-01"
                       max="2020-01-01"
                       th:field="*{founded}"/>
            </label>
            <fieldset th:each="player, stat: *{players}">
                <legend th:text="|Players: ${stat.count}|"></legend>
                <label>First name
                    <input type="text" th:field="*{players[__${stat.index}__].firstName}" />
                </label>
                <label>Last name
                    <input type="text" th:field="*{players[__${stat.index}__].lastName}" />
                </label>
                <label>Birth date
                    <input type="date" min="1950-01-01" max="2010-01-01" th:field="*{players[__${stat.index}__].birthDate}"/>
                </label>
            </fieldset>
            <div>
                <button type="submit" name="addPlayer">+</button>
            </div>
        </fieldset>
        <p>
            <button type="submit" name="addTeam">Add</button>
        </p>
    </form>
</main>

</body>
</html>