<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="template :: header"></head>

<body>
<div th:replace="template :: mainbar"></div>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Welcome in football league!</h1>
        <p class="lead" sec:authorize="!hasRole('USER')">Want to see all teams and players?<br>
            <a href="/sso/login">Join in!</a>
        </p>
    </div>

</main>

<div th:replace="template :: footscripts"></div>

</body>
</html>