<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="template :: header"></head>

<body>
<div th:replace="template :: mainbar"></div>

<main>
    <!--/*@thymesVar id="matchesAll" type="java.util.List<io.github.norwin94.footballleague.model.Match>"*/-->
    <!--/*@thymesVar id="teamsAll" type="java.util.List<io.github.norwin94.footballleague.model.Team>"*/-->
    <h1 th:if="${matchesAll.empty}">No matches</h1>
    <br>
    <br>
    <table class="table table-sm table-hover table-bordered table-dark">
        <thead>
        <tr>
            <th> Date </th>
            <th> Teams (Home - Away) </th>
            <th> Action  </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="match : ${matchesAll}">
            <td th:text="${#dates.format(match.matchDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${match.toString()}"></td>
            <td>
                <a th:href="@{'/matches/' + ${match.getId()} + '/see'}">
                    <button type="submit" name="seePlayer" class="btn btn-primary">See</button>
                </a>
                <a th:href="@{'/matches/' + ${match.getId()} + '/edit'}">
                    <button type="submit" name="editPlayer" class="btn btn-warning" sec:authorize="hasRole('USER')">Edit</button>
                </a>
                <a th:href="@{'/matches/' + ${match.getId()} + '/del'}">
                    <button type="submit" name="deletePlayer" class="btn btn-danger" sec:authorize="hasRole('ADMIN')">Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <div>
            <a th:href="@{'/matches/add'}">
                <button type="submit" class="btn btn-primary" sec:authorize="hasRole('ADMIN')"> Add new Match </button>
            </a>
        </div>
    </div>
</main>

<div th:replace="template :: footscripts"></div>
</body>
</html>