<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="template :: header"></head>

<body>
<div th:replace="template :: mainbar"></div>

<main>
    <!--/*@thymesVar id="team" type="java.lang.String"*/-->
    <!--/*@thymesVar id="match" type="io.github.norwin94.footballleague.model.Match"*/-->
    <!--/*@thymesVar id="goalsByMatchId" type="io.github.norwin94.footballleague.model.Goal"*/-->
    <!--/*@thymesVar id="modeTypeAway" type="java.lang.String"*/-->
    <h1 th:text="${match.toString()}"></h1>
    <!--/*<h1 th:text="${#dates.format(match.matchDate, 'yyyy-MM-dd')}"></h1>*/-->

    <table id="sortByMinute" class="table table-sm table-hover table-bordered table-dark">
        <thead>
        <tr>
            <th th th:text="${match.homeTeam.teamName}"></th>
            <th th:text="${match.awayTeam.teamName}"></th>
            <th> Minute  </th>
            <th> Action  </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="goal : ${goalsByMatchId}">
            <td th:text="${goal.player.team.getId() == match.homeTeam.getId()} ? ${goal.player.getLastName()}"></td>
            <td th:text="${goal.player.team.getId() == match.awayTeam.getId()} ? ${goal.player.getLastName()}"></td>
            <td th:text="${goal.minute}"></td>
            <td>
                <a th:href="@{'/matches/' + ${match.id} + '/goals/' + ${goal.getId()} + '/edit'}">
                    <button type="submit" name="editMatch" class="btn btn-warning" sec:authorize="hasRole('USER')"> Edit </button>
                </a>
                <a th:href="@{'/goals/' + ${goal.id} + '/del'}">
                    <button type="submit" name="deleteMatch" class="btn btn-danger" sec:authorize="hasRole('ADMIN')"> Delete </button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:if="${modeType != 'homeFull'}" th:href="@{'/matches/' + ${match.id} + '/home/add'}">
                    <button type="submit" class="btn btn-primary" sec:authorize="hasRole('ADMIN')">Add Home Goal </button>
                </a>
            </td>
            <td>
                <a th:if="${modeTypeAway != 'awayFull'}" th:href="@{'/matches/' + ${match.id} + '/away/add'}">
                    <button type="submit" class="btn btn-primary" sec:authorize="hasRole('ADMIN')">Add Away Goal </button>
                </a>
            </td>
        </tr>
        </tbody>
        <hr />
        <div class="text-center">
            <a th:href="@{'/matches/' + ${match.getId()} + '/edit'}">
                <button type="submit" name="editTeam" class="btn btn-warning" sec:authorize="hasRole('USER')">Edit match</button>
            </a>
            <a th:href="@{'/matches/' + ${match.getId()} + '/del'}">
                <button type="submit" name="deleteTeam" class="btn btn-danger" sec:authorize="hasRole('ADMIN')">Delete</button>
            </a>
        </div>
        <hr />
    </table>

</main>

<div th:replace="template :: footscripts"></div>
</body>
</html>