<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="template :: header"></head>

<body>
<div th:replace="template :: mainbar"></div>

<main>
    <!--/*@thymesVar id="playersAll" type="java.util.List<io.github.norwin94.footballleague.model.Player>"*/-->
    <h1 th:if="${playersAll.empty}">No players</h1>
    <br>
    <br>
    <table class="table table-sm table-hover table-bordered table-dark">
        <thead>
        <tr>
            <th> First name </th>
            <th> Last name  </th>
            <th> Birth      </th>
            <th> Team       </th>
            <th> Action     </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${playersAll}">
            <td th:text="${player.getFirstName()}"></td>
            <td th:text="${player.getLastName()}"></td>
            <td th:text="${#dates.format(player.getBirthDate(), 'yyyy-MM-dd')}"></td>
            <td><a th:href="${player.team != null} ? @{'/teams/' + ${player.getTeam().getId()} + '/see'}" th:text="${player.team != null} ? ${player.getTeam().getTeamName()}"/></td>
            <td>
                <a th:href="@{'/players/' + ${player.getId()} + '/see'}">
                    <button type="submit" name="seePlayer" class="btn btn-primary">See</button>
                </a>
                <a th:href="@{'/players/' + ${player.getId()} + '/edit'}">
                    <button type="submit" name="editPlayer" class="btn btn-warning" sec:authorize="hasRole('USER')">Edit</button>
                </a>
                <a th:href="@{'/players/' + ${player.getId()} + '/del'}">
                    <button type="submit" name="deletePlayer" class="btn btn-danger" sec:authorize="hasRole('ADMIN')">Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <div>
            <a th:href="@{'/players/add'}">
                <button type="submit" class="btn btn-primary" sec:authorize="hasRole('ADMIN')">Add new Player</button>
            </a>
        </div>
    </div>
</main>

<div th:replace="template :: footscripts"></div>

</body>
</html>