<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football League: team</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        dt {
            display: inline;
            padding: 20px;
        }
    </style>
</head>
<body>
<main>
    <!--/*@thymesVar id="team" type="java.lang.String"*/-->
    <!--/*@thymesVar id="playersAll" type="io.github.norwin94.footballleague.model.Player"*/-->
    <dt th:text="${team.teamName}"></dt>
    <dt th:text="${#dates.format(team.founded, 'yyyy-MM-dd')}"></dt>

    <dl th:each="player : ${team.players}">
        <a th:href="@{'/players/' + ${player.id}}">
            <dt th:text="${player.firstName}"></dt>
            <dt th:text="${player.lastName}"></dt>
            <dt th:text="${#dates.format(player.birthDate, 'yyyy-MM-dd')}"></dt>
        </a>
    </dl>

    <form action="#" th:action="@{'/teams/' + ${team.id}}" th:object="${team}" method="post">
        <p>Team name
            <input type="text" th:field="*{teamName}" th:text="*{teamName}" />
        </p>
        <p>Date found
            <input type="date" min="1875-01-01" th:field="*{founded}" th:text="*{founded}" />
        </p>
        <p>
            <button type="submit" name="editTeam">Edit Team</button>
        </p>
    </form>

    <form action="#" th:action="@{'/teams/' + ${team.id}}" th:object="${team}" method="post">
        <label>Add existing player
            <select>
                <option th:each="player : ${playersAll}"
                        th:value="${player.id}"
                        th:text="${player.lastName}"
                        > Existing player
                </option>
            </select>
            <p>
                <button type="submit" name="addExistingPlayer">Add existing player</button>
            </p>
        </label>
    </form>

</main>

</body>
</html>